:root {
    --color-primary: #625bd2;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgb(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #141529;
    --color-bg1: #2e3267;
    --color-bg2: #424890;

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all .4s ease;
}

.mb-2 {
    margin-bottom: .85rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mb-5 {
    margin-bottom: 2.2rem;
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    padding: 5rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
}

.px-2 {
    padding: 0 1.4rem;
}

h1,
h2,
h3,
h4,
h4 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
    font-weight: bolder;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

/* h5{
    /* font-size: .5rem; */
/* }  */

a {
    color: var(--color-white);
}

.bold {
    font-weight: bolder;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.btn {
    color: var(--color-black);
    background-color: var(--color-white);
    display: inline-block;
    padding: .8rem 1.6rem;
    font-weight: 600;
    border: 1px solid transparent;
    transition: var(--transition);
}

.btn:hover {
    background-color: transparent;
    color: var(--color-white);
    border-color: 1px solid var(--color-white);

}

.btn-primary {
    background-color: var(--color-danger);
    color: var(--color-white);
}

.text-center {
    text-align: center;
}

.team-sec {
    background-color: var(--color-bg1);
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
}

.team-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

article {
    transition: all 1s ease;
}

.team {
    width: 100%;
    background-color: var(--color-bg2);
    position: relative;
    transition: all 400ms linear;
    overflow: hidden;
    /* padding: 1.0rem 3rem .2rem 0.2rem; */
    border-radius: 25px;
    cursor: pointer;
    transition: var(--transition);
    border: 1px solid transparent;
}

.team small {
    color: var(--color-light);
}

.team-img {
    width: 60%;
    margin-top: 1rem;
    margin-left: 3.2rem;
    border-radius: 100px;
    filter: grayscale(100%);
}

.team-social-links {
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translateY(-50%);
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    border-radius: 1rem 0 0 1rem;
    transition: var(--transition);
    box-shadow: -2rem 0 2rem rgba(0, 0, 0, 0.3);

}

.team-social-links a {
    display: block;
    padding: .7rem;

}

.team-social-links a:hover {
    background-color: var(--color-bg1);
}

.team:hover .team-img {
    filter: grayscale(0%);
}

.team:hover {
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.team:hover .team-social-links {
    right: 0;
}

@media (max-width:1024px) {

    /* Achievement  */
    .achievement {
        margin-top: 2rem;
    }

    .achi-container {
        grid-template-columns: 1fr;
    }

    .achi-left img {
        width: 80%;
        margin: 0 auto;
    }

    /* team section  */

    .team-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    
    /* .team{
    font-size: 10px;
    height: 18rem;
    } */
}

/* mobile media querry -------------- */
@media (max-width:600px) {
    .core {
        grid-template-columns: 1fr;
        width: 70%;
        margin: 0 auto;

    }

    .achi-right {
        text-align: center;
    }

    .team-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .team-img {
        margin-left: 1.7rem;

    }
     .team{
    font-size: 11px;
    height: 20rem;
    }
}